	<a  target="_blank"
			href="https://github.com/Butwm"
			class={`bg-github hover:bg-github/80 w-full rounded-xl border-2 border-gray py-4 text-center text-xl font-bold text-white drop-shadow-[4px_5px_0_rgba(0,0,0,1)] dark:drop-shadow-[4px_5px_0_#6B6B6B80] duration-75 hover:translate-y-1 hover:translate-x-1 hover:drop-shadow-none`}
		>
			Github
		</a>
	<a  target="_blank"
			href="https://dev.to/butwm"
			class={`bg-dev hover:bg-dev/80 w-full rounded-xl border-2 border-gray py-4 text-center text-xl font-bold text-white drop-shadow-[4px_5px_0_rgba(0,0,0,1)] dark:drop-shadow-[4px_5px_0_#6B6B6B80] duration-75 hover:translate-y-1 hover:translate-x-1 hover:drop-shadow-none`}
		>
			Dev
		</a>				
	<a  target="_blank"
			href="https://ko-fi.com/Butwm"
			class={`bg-kofi hover:bg-kofi/80 w-full rounded-xl border-2 border-gray py-4 text-center text-xl font-bold text-white drop-shadow-[4px_5px_0_rgba(0,0,0,1)] dark:drop-shadow-[4px_5px_0_#6B6B6B80] duration-75 hover:translate-y-1 hover:translate-x-1 hover:drop-shadow-none`}
		>
			Ko-fi
	</a>		
	<a  target="_blank"
			href="https://www.threads.net/@butwm.dev"
			class={`bg-threads hover:bg-threads/80 w-full rounded-xl border-2 border-gray py-4 text-center text-xl font-bold text-white drop-shadow-[4px_5px_0_rgba(0,0,0,1)] dark:drop-shadow-[4px_5px_0_#6B6B6B80] duration-75 hover:translate-y-1 hover:translate-x-1 hover:drop-shadow-none`}
		>
			Threads
	</a>
	<a  target="_blank"
			href="https://hackerone.com/butwm"
			class={`bg-discord/90 hover:bg-discord/60 w-full rounded-xl border-2 border-gray py-4 text-center text-xl font-bold text-white drop-shadow-[4px_5px_0_rgba(0,0,0,1)] dark:drop-shadow-[4px_5px_0_#6B6B6B80] duration-75 hover:translate-y-1 hover:translate-x-1 hover:drop-shadow-none`}
		>
			HackerOne
	</a>	
	<a  target="_blank"
		class={`bg-vue hover:bg-vue/80 w-full rounded-xl border-2 border-gray py-4 text-center text-xl font-bold text-white drop-shadow-[4px_5px_0_rgba(0,0,0,1)] dark:drop-shadow-[4px_5px_0_#6B6B6B80] duration-75 hover:translate-y-1 hover:translate-x-1 hover:drop-shadow-none`}
	>
	Website
	</a>	
	<a  target="_blank"
		href="https://discordapp.com/users/795996972758204426"
		class={`bg-discord hover:bg-disocrd/80 w-full rounded-xl border-2 border-gray py-1 px-1 text-center text-xl font-bold text-white drop-shadow-[4px_5px_0_rgba(0,0,0,1)] dark:drop-shadow-[4px_5px_0_#6B6B6B80] duration-75 hover:translate-y-1 hover:translate-x-1 hover:drop-shadow-none`}
	>
	<img src="https://lanyard.cnrad.dev/api/795996972758204426?theme=dark&animated=true&hideDiscrim=true&borderRadius=10px&idleMessage=Doing+Nothing+at+this+moment" alt="Discord">
	
	</a>
	