---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import ThemeSwitch from '../components/theme-switch.astro';
---

<!DOCTYPE html>
<html dir="ltr" lang="sk-SK">
	<head>
		<HeadCommon />
		<HeadSEO />
	</head>
	<body class="scroll-smooth font-default dark:bg-[#1a1a1d] bg-[#f7f3e5] overflow-x-hidden">
		<ThemeSwitch />
		<slot />
	</body>
</html>
